<form method="post" action="{{ path('ligne_delete', {'id': ligne.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette ligne ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.id) }}">
	<button class="btn btn-danger m-2">Supprimer</button>
</form>
