{% extends 'base.html.twig' %}

{% block title %}Nouvelle ligne - Tech&Dev
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer nouvelle ligne </h1>

		<div class="container">
			{{ include('ligne/_form.html.twig') }}
			<a href="{{ path('resume',{year : "now" | date('Y')}) }}" class="btn btn-dark m-2">Retour</a>
		</div>



	</div>

{% endblock %}
