{% extends "base.html.twig" %}

{% block stylesheets %}

	<link rel="stylesheet" href="/css/resume.css">
{% endblock %}


{% block body %}

	<div class="container py-3">{% include "./templates/tables_lignes.html.twig" with {lignes : lignes} %}</div>


{% endblock %}
