.folder-container {
    background-color: rgba(55, 53, 65, 1);
    display: flex;
    flex-wrap: wrap;
}

.folder-container button {
    background-color: rgba(55, 53, 65, 1);
    border: none;
}

.folder-container i:hover {
    background-color: rgb(90, 88, 104);
}

.folder-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.folder-container i,
.folder-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 0.25s;
    background-color: rgba(68, 66, 82, 1);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}

.folder-container a {
    color: #FFF;
}

.folder.drag-over {
    background-color: darkcyan;
    opacity: .9;
}