fieldset {
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.caret-up {
    transform: rotate(180deg);
}

.caret.active {
    background-color: white;
    filter: invert(1);
    border: solid 1px black;
    border-radius: 5px;
}

/* Filter */
.wrapper-filter{
    background-color: #555;
    padding: 1rem;
    border-radius: 1rem;
}

.wrapper-filter > div{
    margin: 1rem 0;
}

.wrapper-filter label{
    color: white !important;
}

/* dark mode  */

.dark-mode div {
    color: black;
}

.dark-mode fieldset
{
    color: white;
}