.dark-mode table td,
.dark-mode table {
    color: #FFF;
}

table.resume>thead {
    background-color: rgba(43, 42, 51, 1);
}
.caret-up {
    transform: rotate(180deg);
}

.caret.active {
    background-color: white;
    filter: invert(1);
    border: solid 1px black;
    border-radius: 5px;
}