{% extends 'base.html.twig' %}

{% block title %}Modifier contact - Tech&Dev {% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Contact {{ profesionnel.raisonSocial() }}</h1>

        {{ include('profesionnel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-dark m-2" href="{{ path('compagny') }}">Retour</a>

        {{ include('profesionnel/_delete_form.html.twig') }}
    </div>

{% endblock %}
