{% extends 'base.html.twig' %}

{% block title %}Nouveau contact profesionnel - Tech&Dev {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="">Nouveau contact profesionnel</h1>
        {{ include('profesionnel/_form.html.twig') }}
        <a class="btn btn-dark m-2" href="{{ path('compagny') }}">Retour</a>
    </div>



{% endblock %}
