<div class="d-flex align-items-center">
		<div class="me-3">
			<a href="{{ link }}" class="btn btn-dark">
				<i class="fas fa-arrow-left"></i>
				Retour
			</a>

		</div>

		<h1>{{title}}</h1>
	</div>