<form method="post" action="{{ path('particulier_delete', {'id': particulier.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce contact?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ particulier.id) }}">
    <button class="btn btn-danger rounded m-2">Supprimer</button>
</form>
