{% extends 'base.html.twig' %}

{% block title %}Nouveau contact particulier - Tech&Dev{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau contact particulier</h1>

        {{ include('particulier/_form.html.twig') }}

        <a class="btn btn-dark m-2" href="{{ path('compagny') }}">Retour</a>
    </div>
{% endblock %}
