<div class="d-flex">
	<div class="d-flex align-items-center bg-success p-1 rounded">
		<input type="radio" name="type" id="income">
		<label for="income">Revenu</label>
	</div>
	<div class="d-flex align-items-center ms-5 bg-danger p-1 rounded">
		<input type="radio" name="type" id="expense" checked>
		<label for="expense">Dépense</label>
	</div>
</div>
