<form method="post" action="{{ path('extention_icon_delete', {'id': extention_icon.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette extension ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ extention_icon.id) }}">
    <button class="btn btn-danger m-2">Supprimer</button>
</form>
