{% extends 'base.html.twig' %}

{% block title %}New ExtentionIcon{% endblock %}

{% block body %}
    <h1>Create new ExtentionIcon</h1>

    {{ include('extention_icon/_form.html.twig') }}

    <a href="{{ path('extention_icon_index') }}">back to list</a>
{% endblock %}
